.clear {
  width: 15px;
  height: 15px;
  background-color: var(--ls-gray-300);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--ls-radius-full);
  cursor: pointer;
  border: 0;
  padding: 0;
}
