.wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 2px;
  position: relative;
}
.wrapper[data-full-width] {
  width: 100%;
  min-width: 0;
  flex: 1;
}
.wrapper[data-size="1"] {
  height: 32px;
}
.wrapper[data-size="2"] {
  height: 36px;
}
.wrapper[data-size="3"] {
  height: 40px;
}

.leftIcon,
.rightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.leftIcon {
  left: 8px;
}
.rightIcon {
  right: 8px;
  width: 20px;
  height: 20px;
}
.rightIcon button {
  height: 100%;
}
.wrapper[data-no-icon-event] .rightIcon {
  pointer-events: none;
}

.input {
  height: 40px;
  width: 100%;
  padding: 0 8px;
  border-radius: var(--ls-radius-large);
  background: var(--ls-bg-surface);
  border: 1px solid var(--ls-border-default);
  font-weight: 500;
  font-size: var(--ls-font-size-2);
  line-height: 140%;
  letter-spacing: -0.02em;
  color: var(--ls-text-primary);
  outline: 0;
}
.wrapper[data-has-left-icon] .input {
  padding-left: 30px;
}
.wrapper[data-size="1"] .input {
  height: 32px;
}
.wrapper[data-size="2"] .input {
  height: 36px;
}
.wrapper[data-size="3"] .input {
  height: 40px;
}
.wrapper[data-pointer] .input {
  cursor: pointer;
}

.input::placeholder {
  color: var(--ls-text-placeholder);
}
.input:focus {
  border-color: var(--ls-border-focus);
}
.input:disabled {
  border-color: var(--ls-border-default);
  background: var(--ls-bg-disabled);
  color: var(--ls-text-disabled);
}
.input:read-only {
  border-color: var(--ls-border-default);
  background-color: var(--ls-bg-disabled);
}
