.badge {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  /* border: 1px solid transparent; */
  white-space: nowrap;
}

.badge[data-size="1"] {
  height: 16px;
  padding: 0 4px;
  font-size: var(--ls-font-size-1);
  gap: var(--ls-space-1);
}
.badge[data-size="2"] {
  height: 20px;
  padding: 0 6px;
  font-size: var(--ls-font-size-1);
  gap: var(--ls-space-1);
}
.badge[data-size="3"] {
  height: 24px;
  padding: 0 8px;
  font-size: var(--ls-font-size-2);
  gap: 6px;
}
.badge[data-size="4"] {
  height: 28px;
  padding: 0 10px;
  font-size: var(--ls-font-size-3);
  gap: var(--ls-space-2);
}

.badge[data-variant="solid"] {
  background-color: var(--ls-accent-500);
  color: var(--ls-text-inverse);
}
.badge[data-variant="surface"] {
  background-color: var(--ls-accent-300);
  color: var(--ls-accent-900);
}
.badge[data-variant="outline"] {
  background-color: transparent;
  color: var(--ls-accent-500);
  border-color: var(--ls-accent-500);
}

/* 아이콘은 size에 맞춰 축소 */
.badge svg {
  flex-shrink: 0;
}
.badge[data-size="1"] svg {
  width: 8px;
  height: 8px;
}
.badge[data-size="2"] svg {
  width: 12px;
  height: 12px;
}
.badge[data-size="3"] svg {
  width: 14px;
  height: 14px;
}
.badge[data-size="3"] svg {
  width: 16px;
  height: 16px;
}
