.spinner {
  display: inline-block;
  flex-shrink: 0;
  border-radius: var(--ls-radius-full);
  border: var(--thickness) solid var(--ls-accent-200);
  border-top-color: var(--ls-accent-600);
  animation: spin 0.8s linear infinite;
}
.spinner[data-size="1"] {
  --thickness: 2px;
  width: 14px;
  height: 14px;
}
.spinner[data-size="2"] {
  --thickness: 2px;
  width: 20px;
  height: 20px;
}
.spinner[data-size="3"] {
  --thickness: 3px;
  width: 28px;
  height: 28px;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
